<!--Assignment1  CarolHuang#301164177 COMP229-009 Date:28th,Sep,2022 -->
<%- include partials/header.ejs %>

  <body>
    <p class="title">Welcome to <%= title %></p>

    <%- include partials/mainNav.ejs %>
    <div class="main">

      <H3>NAME: CAROL HUANG</H3>
      <H3>TITLE: JUNIOR WEB DEVELOPER</H3>
      <div class="me">
        <img src="images/me.jpg" alt=""> 
      </div>
      <div class="intro">
       <p>Hi I'm Carol.</p> <p>I'm a junior web developer.</p> <p>Nice to meet  you!</p>
     
      </div>
    </div>
    
    <%- include partials/copyRight.ejs %>
      
    <%- include partials/footer.ejs %>
