<!--Assignment1  CarolHuang#301164177 COMP229-009 Date:28th,Sep,2022 -->
<%- include partials/header.ejs %>
<%- include partials/mainNav.ejs %>

<div class="main">
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
</div>

<!-- <pre><%= error.stack %></pre> -->

<%- include partials/copyRight.ejs %>

<%- include partials/footer.ejs %>