<!--Assignment1  CarolHuang#301164177 COMP229-009 Date:28th,Sep,2022 -->
<%- include partials/header.ejs %>

  <body>
   
    <p class="title">Welcome to <%= title %></p>

    <%- include partials/mainNav.ejs %>

    <div class="main">
      <ul class="project">
        <li>
           <img src="images/bugcatcher.png" alt="" align="left"> This is a simple game called bug catcher. The user can catcher the bug by clicking on it, and the score will be display on the top.
           <br/>As time goes, the bug will move faster, it will become more challenge.I coded it using html, css and Javascript.
           <br/><br/><br/>
        </li>
        <li>
          <img src="images/photogallery.png" alt="" align="left"> A photo gallery that display phtots automatically. The right and left side each has a switch botton to allow user to go to the next or previous photo.
          I coded it using html, css and Javascript.<br/><br/><br/><br/><br/>
       </li>
       <li>
        <img src="images/registration.png" alt="" align="left"> A registration page that will check the user input automatically.I coded it using html, css, regular expression and Javascript.
        <br/><br/><br/><br/><br/>
     </li>
      </ul>
    </div>
    
    <%- include partials/copyRight.ejs %>

<%- include partials/footer.ejs %>
