  <!--Assignment1  CarolHuang#301164177 COMP229-009 Date:28th,Sep,2022 -->
  <%- include partials/header.ejs %>

  <body>
    
    <p class="title">Welcome to <%= title %></p>
    <%- include partials/mainNav.ejs %>

    <div class="main">
      <img class="services" src="images/webDevelopment.jpeg" alt="" ><br/>Services offer include: <br/> general
      programming<br/>web development<br/>mobile apps
      <br/><br/><br/><br/><br/>
    </div>

 

   <%- include partials/copyRight.ejs %> 
     
    <%- include partials/footer.ejs %>